@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body, html {
  font-family: 'Inter', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.App {
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

Nav .content {
  margin: auto;
}

Footer .content {
  margin: auto;
}

.f14 {
  font-size: 14px;
}

.f18 {
  font-size: 18px;
}

.f28 {
  font-size: 28px;
}

.f36 {
  font-size: 36px;
}

